/* General -> main.blade.php - INICIO */
* {
    font-family: Roboto;
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc ;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.msg {
    /*COR DE FUNDO*/
    background-color: #D4EDDA; 
    /*COR DE LETRA*/
    color: #155724;  
    /*BORDA EM VOLTA*/
    border: 2px solid #c3e6cb;
    /*LARGURA*/
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    /*ESPAÇAMENTO INTERNO*/
    padding: 10px;    
}
/* General -> main.blade.php - FIM */
/* navbar -> main.blade.php - INICIO */
#navbar {
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
} 

#navbar a:hover {
    color: #f2a340;
}   

#navbar img {
    width: 40px;
}
/* navbar -> main.blade.php - FIM */
/* search-container -> welcome.blade.php - INICIO */
#search-container {
    background-image: url("../img/paineis-porsche-911-carrera.jpg");  
    background-size: cover;     
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: #f2a340;
    margin-bottom: 30px;  
    font-weight: 900;
}

#search-container form{
    width: 50%;   
    margin: 0 auto; 
}
/* search-container -> welcome.blade.php - FIM */
/* cars-container -> welcome.blade.php - INICIO */
#cars-container {
    padding: 50px;   
}

#cars-container h2{
    margin-bottom: 10px;    
}

#cars-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cars-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#cars-container img {    
    max-height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;   
}

.card .card-date{
    font-size: 14px;
    color: #5c5a5a;
}

.card .card-model{
    font-size: 20px;
    color: #212121;
    font-weight: bold;
    margin-bottom: 30px;
}

.card .card-interested {
    font-size: 16px;
    color: #5c5a5a;
}

#cards-container {
    display: flex;
}
/* cars-container -> welcome.blade.php - FIM */
/* Dashboard -> /views/cars/dashboard.blade.php - INICIO */
.dashboard-title-container{
    margin-bottom: 30px;
    margin-top: 30PX;    
}

.dashboard-cars-container th {
    width: 25%;
}

.dashboard-cars-container form {
    /* botão editar e deletar ficam um ao lado do outro */
    display: inline-block;
}
/* Dashboard -> /views/cars/dashboard.blade.php - FIM */
/* Edit Page -> /views/cars/edit.blade.php - INICIO */

.img-preview {    
    width: 150PX;
    margin-top: 20PX;
    background-position: center;
    background-size: cover;   
}    
/* Edit Page -> /views/cars/edit.blade.php - FIM */
/* footer -> main.blade.php - INICIO */
footer {
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
/* footer -> main.blade.php - FIM */

/* Car show page */
#image-container, 
#info-container {
    margin-top: 30px;
}

#image-container img{
    /* arredonda os cantos */
    border-radius: 10px;
}

#info-container h1{
    /* tamanho da fonte */
    font-size: 30px;
    /* Negrito */
    font-weight: 900;    
}

#info-container p {
    margin: 2px;
    /* tamanho da fonte */
    font-size: 14px;
    /* como tem ícone junto ajuda a centralizar icone e texto*/
    display: flex;
}

#info-container h3,
#description-container h3 {
    /* tamanho da fonte */
    font-size: 25px;
    /* Negrito */
    font-weight: 900;
    margin-top: 15px;
}

#info-container ion-icon{
    font-size: 20px;
    color: #f2a340;
    margin-right: 5px;
}

#car-submit {
    margin-top: 20px;
}

#itens-list {
    /* tira o ponto lateral da lista */
    list-style: none;
    /* tira o padding da esquerda */
    padding-left: 0;
}

#itens-list li {
    display: flex;
}

/* Car create page */
#car-create-container {
    padding: 30px;
}

#car-create-container label{
    /*Negrito*/
    font-weight: bold;
}

#car-create-container input,
#car-create-container select,
#car-create-container textarea {
    /*tamanho fonte*/
    font-size: 12px;
}





