/* General */
* {
    font-family: Roboto;
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc ;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover {
    background-color: #c28008;
    border-color: #c28008;
}

.msg {
    /*COR DE FUNDO*/
    background-color: #D4EDDA; 
    /*COR DE LETRA*/
    color: #155724;  
    /*BORDA EM VOLTA*/
    border: 2px solid #c3e6cb;
    /*LARGURA*/
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    /*ESPAÇAMENTO INTERNO*/
    padding: 10px;    
}

/* navbar main.blade.php */
#navbar {
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
} 

#navbar a:hover {
    color: #f2a340;
}   

#navbar img {
    width: 40px;
}

/* search container welcome.blade.php */
#search-container {
    background-image: url("../img/paineis-porsche-911-carrera.jpg");  
    background-size: cover;     
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: #f2a340;
    margin-bottom: 30px;  
    font-weight: 900;
}

#search-container form{
    width: 50%;   
    margin: 0 auto; 
}

/* Cars List */
#cars-container {
    padding: 50px;   
}

#cars-container h2{
    margin-bottom: 10px;    
}

#cars-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cars-container .card{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

#cars-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 14px;
    color: #5c5a5a;
}

.card .card-model{
    font-size: 20px;
    color: #212121;
    font-weight: bold;
    margin-bottom: 30px;
}

.card .card-interested {
    font-size: 16px;
    color: #5c5a5a;
}

#cards-container {
    display: flex;
}

/* footer */
footer {
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

/* Car create page */
#car-create-container {
    padding: 30px;
}

#car-create-container label{
    /*Negrito*/
    font-weight: bold;
}

#car-create-container input,
#car-create-container select,
#car-create-container textarea {
    /*tamanho fonte*/
    font-size: 12px;

}





